<section class="row hero">
    <div class="hero-area">
        {% if page.hero.link %}
        <a href="{{ page.hero.link }}">
              {% endif %}
              {% if page.hero.image%}
{% asset {{page.hero.image}} alt="{{ page.hero.text }}" magick:resize=1080 magick:crop=1080x400+0+100 %}
{% endif%}
              <div class="text">
                <h2>{{ page.title }}</h2>
                <p>{{ page.hero.description }}</p>
              </div>
              {%- if page.hero.link %}
              </a> {% endif %}
    </div>
</section>


