---
layout: default
---

        {% if page.hero %}
       <section class="row hero">
    <div class="hero-area">
        {%- if page.hero.link %}
        <a href="{{ page.hero.link }}">
              {% endif %}
              <img src="{{ page.hero.url }}" alt="{{ page.hero.text }}">
              <div class="text">
                <h2>{{ page.hero.headline }}</h2>
                <p>{{ page.hero.description }}</p>
              </div>
              {%- if page.hero.link %}
              </a> {% endif %}
    </div>
</section>
{% endif %}

  <div class="row">
    <div class="main-content">
    <div class="home-wrap">
      {{ content }}
    </div>
    </div>
  </div>

  <div class="row">
  <ul class="home-grid">
  {% for item in site.data.main.homegrid%}
    <li>
    <a href="{{item.url}}">
      <figure class="">
        {% asset {{item.image}} alt='{{item.alt}}' magick:resize=400 %}
{% if item.caption %}
<figcaption>{{item.caption}}</figcaption>
{% endif %}
</figure>
    </a>
    </li>
  {% endfor %}
  </ul>
  </div>


