---
layout: default
---

{% if page.slider %}
{% include home-slider.html %}
{% endif %}
  <div class="row">
    <div class="main-content">
    <div class="home-blurb">
    <div class="blurb-wrap">
      {{ content }}
    </div>
    </div>
  </div>

  <div class="row">
  <ul class="home-grid">
  {% for item in site.data.main.homegrid%}
    <li>
    <a href="{{item.url}}">
      <figure class="home-fig">
        {% asset {{item.image}} alt='{{item.alt}}' magick:resize=400 %}
{% if item.caption %}
<figcaption>{{item.caption}}</figcaption>
{% endif %}
</figure>
    </a>
    </li>
  {% endfor %}
  </ul>
  </div>


