---
layout: default
---
  <div class="row">
    <div class="main-content">
    {%- comment -%} {% include home-blurb0.html %} {%- endcomment -%}
  </div>

  <div class="row">
  <ul class="home-grid">
  {% for item in site.data.main.homegrid%}
    <li>
    <a href="{{item.url}}">
      <figure>
        {% asset {{item.image}} alt='{{item.alt}}' magick:resize=400 %}
{% if item.caption %}
<figcaption>{{item.caption}}</figcaption>
{% endif %}
</figure>
    </a>
    </li>
  {% endfor %}
  </ul>
  </div>


