---
layout: default
---
{% if page.hero %}
      {% include page-hero.html%}
{% endif %}
{% if page.related %}
  {% assign page_id = "sprflt" %}
  {% assign page_class = "left-column" %}
{% else %}
  {% assign page_id = "noflt" %}
  {% assign page_class = "single-column" %}
{% endif %}
<div class="row {{ page_class }}" id="{{ page_id }}">
  <div class="main-content" id="main" role="main">
{% unless page.hero %}
    <h1 class="page-title" id="title">{{ page.title }}</h1>
{% endunless %}
    {% if page.banner %}
    <div class="banners bannerBox" id="bannerBox">
      <img alt="{{ page.banner.text }}" id="banner" src="{{ page.banner.url }}">
      {% if page.image.description %}
      <p class="caption">{{ page.banner.description }}</p>
      {% endif %}
    </div>
    {% endif %}

    <div class="content contentBox">
      {{ content }}
    </div>

  </div>

  {% if page.related %}
  {% if page.related.image %}
    <div class="sidebar" id="subNav" role="navigation">
    <a href="{{page.related.link}}"
    <figure class="inline-image left">
{% asset {{page.related.image}} magick:resize=300 alt="{{page.related.image_alt}}" %}<figcaption>{{page.related.caption}}</figcaption></figure></a>
{% if page.related.initiatives_dashboard %}
<div class="sidebar-contact"><p>{{page.related.initiatives_dashboard}}</p></div>
{% endif %}
{% if page.url == '/about-sap/' %}
<div class="sidebar-contact">
<h3><strong><i>Questions?</i></strong></h3> <p>Please contact <a href="mailto:acohen@ucsc.edu">Andrea Cohen</a></p></div>
{% endif %}
    </div>
  {% endif %}
  {% endif %}

</div>
